apiVersion: v1
kind: Service
metadata:
  name: count-analysis-service
  namespace: count-system
  labels:
    app: count-analysis-service
spec:
  type: ClusterIP
  ports:
    - port: 3003
      targetPort: 3003
      protocol: TCP
      name: http
  selector:
    app: count-analysis-service
