apiVersion: v1
kind: Service
metadata:
  name: count-write-service
  namespace: count-system
  labels:
    app: count-write-service
spec:
  type: ClusterIP
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP
      name: http
  selector:
    app: count-write-service
