apiVersion: v1
kind: Service
metadata:
  name: count-management-service
  namespace: count-system
  labels:
    app: count-management-service
spec:
  type: ClusterIP
  ports:
    - port: 3002
      targetPort: 3002
      protocol: TCP
      name: http
  selector:
    app: count-management-service
