apiVersion: v1
kind: Service
metadata:
  name: count-read-service
  namespace: count-system
  labels:
    app: count-read-service
spec:
  type: ClusterIP
  ports:
    - port: 3001
      targetPort: 3001
      protocol: TCP
      name: http
  selector:
    app: count-read-service
