apiVersion: v1
kind: Service
metadata:
  name: redis-cache-service
  namespace: count-system
  labels:
    app: redis-cache
spec:
  type: ClusterIP
  ports:
    - port: 6379
      targetPort: 6379
      protocol: TCP
      name: redis
  selector:
    app: redis-cache
